.DS_Store
*.sw*
*.pyc
radius.log.gz
radius1.log
*.cnf
.vagrant*
dist/*
__pycache__
**node_modules/
xgateway/settings.py
xgateway/settings_common.py
xgateway/settings_fe.py
xgateway/settings_isp.py
json_crud
